# Dependensi
node_modules/
.npm
dist/output.css

# Log Error
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistem Operasi
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Environment (Jika ada)
.env